# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/


# Virtual environment
.venv/
venv/

# Build / packaging output
build/
dist/
*.egg-info/


# Logs
*.log

# OS / editor szemét
.DS_Store
Thumbs.db

# Ideiglenes mentések
*.bak
*.tmp
*~

# DOCS
docs/
